{% extends 'base.html.twig' %}

{% block title %}Edit Typeradio{% endblock %}

{% block body %}
    <h1>Edit Typeradio</h1>

    {{ include('typeradio/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('typeradio_index') }}">back to list</a>

    {{ include('typeradio/_delete_form.html.twig') }}
{% endblock %}
